/* Default CSS styles used by NotebookWebsiteTools .html pages. */

/*
    Add padding at the end of a notebook article that is the last element in
    the HTML page.

    This padding allows the user to scroll past the bottom of the notebook
    content. This makes content near the bottom of the page easier to scroll in
    to view.

    This is especially important for making anchor links to content at
    the bottom of the page work nicely. Without this, an anchor link to the last
    heading on the page may leave that heading near the bottom of the browser
    window, instead of at the top of the window where readers typically expect
    the linked-to header/anchor to appear.

    This behavior mirrors the scroll-past-bottom behavior of .nb files.

    NOTE:
        A simpler variant of this selector might have been just `html { .. }`.
        However, this extra padding for scrolling behavior is not typically
        necessary if the page has a footer or other content after the notebook
        content. Using this narrowly defined CSS selector ensures that we only
        add padding when a notebook is the last element on the page.

        This narrow selector additionally ensures that this styling won't
        unintentionally confict with or change the styling of a page that a
        notebook has been embedded in.
*/
body > article.Notebook:last-child:last-of-type {
    /* https://superuser.com/a/872654 */
    padding-bottom: 50vh !important;
}

body {
    margin: 0 auto;
    max-width: 50em;

    font-family: \"Helvetica\", \"Arial\", sans-serif;

    line-height: 1.5;
    padding: 4em 1em;

    color: #555;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, h3, strong {
    color: #333;
}

a.anchor {
    color: inherit;
    text-decoration: none;
}

a.anchor:hover {
    text-decoration: underline;
}

/* Display a yellow background on `#<id>` anchor link sections. */
a.anchor:target {
    background: #ff0b;
    text-decoration: underline;
}

p.nb-Subtitle {
    font-style: oblique;
}

code {
    padding: 0.25em;
    background: #ddd;
}

pre.nb-Program {
    display: block;

    padding: 1em;
    margin: 1em auto;

    background: #e5e5e5;
}

pre.nb-HighlightSyntax {
    counter-reset: line;

    padding: 0.75em;
    border-radius: 0.25em;

    border-left: 3px solid lightgray;

    line-height: 1.35;

    overflow: scroll;
}

pre.nb-HighlightSyntax.line-numbers span.ln:before {
    counter-increment: line;
    content: counter(line);

    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 0.5em;
    margin-right: 0.5em;
    color: #888;
}

/*========================================================*/
/* Built-In Widgets                                       */
/*========================================================*/

/*====================================*/
/* TableOfContentsHtml[..]            */
/*====================================*/

nav.TableOfContents {
    padding: 0em 1em;
    display: inline-block;
    background-color: #eee;
    border: 2px solid gray;
}

nav.TableOfContents a {
    color: cornflowerblue;
    text-decoration: unset;
}

nav.TableOfContents a:hover {
    text-decoration: underline
}

nav.TableOfContents ul {
    padding-inline-start: 20px;
}

/*====================================*/
/* PagesSummaryList[..]                */
/*====================================*/

nav.PagesSummaryList > ul {
    list-style-type: none;
    padding-left: 0;
}

nav.PagesSummaryList > ul > li {
    border-radius: 0.5em;
    border-left: 0.15em solid lightgray;
    border-right: 0.15em solid lightgray;

    padding: 0.25em 0.5em;
    margin: 1.5em 0;
}

nav.PagesSummaryList > ul > li h4 {
    margin: 0;
}

nav.PagesSummaryList > ul > li p {
    margin-bottom: 0;
}

nav.PagesSummaryList a {
    text-decoration: none;
    color: cornflowerblue;
}

nav.PagesSummaryList a:hover {
    text-decoration: underline;
}
