/* Default CSS styles used by NotebookWebsiteTools .html pages. */

/*
    Add padding at the end of a notebook article that is the last element in
    the HTML page.

    This padding allows the user to scroll past the bottom of the notebook
    content. This makes content near the bottom of the page easier to scroll in
    to view.

    This is especially important for making anchor links to content at
    the bottom of the page work nicely. Without this, an anchor link to the last
    heading on the page may leave that heading near the bottom of the browser
    window, instead of at the top of the window where readers typically expect
    the linked-to header/anchor to appear.

    This behavior mirrors the scroll-past-bottom behavior of .nb files.

    NOTE:
        A simpler variant of this selector might have been just `html { .. }`.
        However, this extra padding for scrolling behavior is not typically
        necessary if the page has a footer or other content after the notebook
        content. Using this narrowly defined CSS selector ensures that we only
        add padding when a notebook is the last element on the page.

        This narrow selector additionally ensures that this styling won't
        unintentionally confict with or change the styling of a page that a
        notebook has been embedded in.
*/
body > article.Notebook:last-child:last-of-type {
    /* https://superuser.com/a/872654 */
    padding-bottom: 50vh !important;
}

body {
    margin: 0 auto;
    max-width: 40em;

    font-family: \"Helvetica\", \"Arial\", sans-serif;

    line-height: 1.6;
    padding: 4em 1em;

    color: #555;

    background-color: var(--nwt--body-background-color);
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, h3, strong {
    color: #333;
}

a.anchor {
    color: inherit;
    text-decoration: none;
}

a.anchor:hover {
    text-decoration: underline;
}

/* Display a yellow background on `#<id>` anchor link sections. */
a.anchor:target {
    background: #ff0b;
    text-decoration: underline;
}

/* TODO: Make these colors controllable through a website theming mechanism. */
/* :root {
    --nwt--h1-color: #5f0f40;
    --nwt--h2-color: #9a031e;
    --nwt--h3-color: #e36414;
    --nwt--h4-color: #fb8b24;
    --nwt--h5-color: #0f4c5c;

    --nwt--body-background-color: #FAF9F6;
} */

:root {
    --nwt--h1-color: #471CA8;
    --nwt--h2-color: #884AB2;
    --nwt--h3-color: #FF930A;
    --nwt--h4-color: #F24B04;
    --nwt--h5-color: #D1105A;

    --nwt--body-background-color: #FAF9F6;
}

/*========================================================*/
/* Standard Wolfram Styles                                */
/*========================================================*/

article.Notebook p {
    font-size: 12pt;
}

article.Notebook p.nb-Subtitle {
    font-style: oblique;
    font-size: 14pt;
    color: #777
}

code {
    padding: 0.25em;
    background: #ddd;
    border-radius: 0.25em;
}

pre {
    overflow: scroll;

    tab-size: 4;
}

pre.nb-Program {
    display: block;

    padding: 1em;
    margin: 1em auto;

    background: #e5e5e5;
}

/*====================================*/
/* Textual Styles                     */
/*====================================*/

/*----------*/
/* Headings */
/*----------*/

h1.nb-Title {
    color: var(--nwt--h1-color)
}

h2.nb-Chapter {
    color: var(--nwt--h2-color)
}

h3.nb-Section {
    color: var(--nwt--h3-color)
}

h4.nb-Subsection {
    color: var(--nwt--h4-color)
}

h5.nb-Subsubsection {
    color: var(--nwt--h5-color)
}

.nb-Title {
    font-size: 36pt;
}

.nb-Chapter {
    font-size: 27pt;
}

.nb-Section {
    font-size: 22pt;
}

.nb-Subsection {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 16pt;
}

.nb-Subsubsection {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 14pt;
}

.nb-Subsubsubsection {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 12pt;
}

.nb-Subsubsubsubsection {
    font-size: 10.5pt;
}

/*-----------*/
/* Subtitles */
/*-----------*/

h1.nb-Title + p.nb-Subtitle {
    margin-block-start: -2em;
}

/*-----------*/
/* Body text */
/*-----------*/

article.Notebook div.nb-CodeText {
    color: rgb(55%, 55%, 55%);
    font-size: 12pt;
}

/*====================================*/
/* Item styles                        */
/*====================================*/

/*----------------*/
/* Margins        */
/*----------------*/

/* Left margins. These are derived from the default item style CellMargins,
   where the left margin increases by 24pt for each 'Sub' indentation. */

div.nb-Item, div.nb-ItemNumbered, div.nb-ItemParagraph {
    margin-left: 12pt;
}

div.nb-Subitem, div.nb-SubitemNumbered, div.nb-SubitemParagraph {
    margin-left: 36pt; /* 12 + 24 */
}

div.nb-Subsubitem, div.nb-SubsubitemNumbered, div.nb-SubsubitemParagraph {
    margin-left: 60pt; /* 12 + 24 + 24 */
}

/* Top and bottom margins. These are the same as the vertical CellMargins. */

div.nb-Item,       div.nb-ItemNumbered,       div.nb-ItemParagraph,
div.nb-Subitem,    div.nb-SubitemNumbered,    div.nb-SubitemParagraph,
div.nb-Subsubitem, div.nb-SubsubitemNumbered, div.nb-SubsubitemParagraph {
    margin-top: 4pt;
}

div.nb-Item, div.nb-ItemNumbered {
    margin-bottom: 8pt;
}

div.nb-Subitem, div.nb-SubsubItem, div.nb-SubitemNumbered, div.nb-SubsubItemNumbered {
    margin-bottom: 4pt;
}

div.nb-ItemParagraph, div.nb-SubitemParagraph, div.nb-SubsubItemParagraph {
    margin-bottom: 1pt;
}

/*----------------*/
/* List markers   */
/*----------------*/

div.nb-Item,       div.nb-ItemNumbered,
div.nb-Subitem,    div.nb-SubitemNumbered,
div.nb-Subsubitem, div.nb-SubsubitemNumbered {
    display: list-item;
}

div.nb-Item, div.nb-Subitem, div.nb-Subsubitem {
    list-style-type: square;
}

div.nb-Item::marker, div.nb-Subitem::marker, div.nb-Subsubitem::marker {
    /* TODO: Pick a better color */
    color: darkslategray;
}

div.nb-ItemNumbered::marker {
    content: counter(nb-ItemNumbered) '. ';

    font-weight: bold;
    font-size: smaller;
    color: black;
}

div.nb-SubitemNumbered::marker {
    content: counter(nb-ItemNumbered) '.' counter(nb-SubitemNumbered) '. ';

    font-weight: bold;
    font-size: smaller;
    color: black;
}

div.nb-SubsubitemNumbered::marker {
    content: counter(nb-ItemNumbered) '.' counter(nb-SubitemNumbered) '.' counter(nb-SubsubitemNumbered) '. ';

    font-size: smaller;
    font-weight: bold;
    color: black;
}

/*-------------------------*/
/* Updating counter values */
/*-------------------------*/

.nb-Title {
	counter-reset: nb-Section nb-Equation nb-Figure nb-Subtitle nb-Subsubtitle nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Title;
}

.nb-Subtitle {
	counter-reset: nb-Section nb-Equation nb-Figure nb-Subsubtitle nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Subtitle;
}

.nb-Chapter {
	counter-reset: nb-Subchapter nb-Section nb-Equation nb-Figure nb-Subsubtitle nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Chapter;
}

.nb-Subchapter {
	counter-reset: nb-Section nb-Equation nb-Figure nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Subchapter;
}

.nb-Section {
	counter-reset: nb-Subsection nb-Subsubsection nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Section;
}

.nb-Subsection {
	counter-reset: nb-Subsubsection nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Subsection;
}

.nb-Subsubsection {
	counter-reset: nb-Subsubsubsection nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Subsubsection;
}

.nb-Subsubsubsection {
	counter-reset: nb-Subsubsubsubsection nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Subsubsubsection;
}

.nb-Subsubsubsubsection {
	counter-reset: nb-Item nb-Subitem nb-Subsubitem nb-ItemNumbered nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-Subsubsubsubsection;
}

div.nb-Item {
	counter-reset: nb-Subitem nb-Subsubitem;
	counter-increment: nb-Item;
}

div.nb-Subitem {
	counter-reset: nb-Subsubitem;
	counter-increment: nb-Subitem;
}

div.nb-Subsubitem {
	counter-increment: nb-Subsubitem;
}

div.nb-ItemNumbered {
	counter-reset: nb-SubitemNumbered nb-SubsubitemNumbered;
	counter-increment: nb-ItemNumbered;
}

div.nb-SubitemNumbered {
	counter-reset: nb-SubsubitemNumbered;
	counter-increment: nb-SubitemNumbered;
}

div.nb-SubsubitemNumbered {
	counter-increment: nb-SubsubitemNumbered;
}

/*========================================================*/
/* NotebookWebsiteTools Special Styles                    */
/*========================================================*/

pre.nb-HighlightSyntax {
    counter-reset: line;

    padding: 0.75em;
    border-radius: 0.25em;

    border-left: 3px solid lightgray;

    line-height: 1.35;
}

pre.nb-HighlightSyntax.line-numbers span.ln:before {
    counter-increment: line;
    content: counter(line);

    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 0.5em;
    margin-right: 0.5em;
    color: #888;
}

/*------------------------------------*/
/* Document Status Badges             */
/*------------------------------------*/

.StatusBadge {
    font-size: 8pt;
    border-radius: 8pt;
    padding: 3pt;
    user-select: none;
}

/* Prevent underline shown on status badges that appear inline in
   PagesSummaryListHtml[..] entries */
.StatusBadge:hover {
    text-decoration: none !important;
}

.StatusBadge.Status-Draft {
    color: #996633;
    background: #DEBD9D;
}

/* Style draft cells that were included in the built page. */
div.nb-Draft {
    background: #ffcc99;
    padding-left: 0.75em;
    border-left: 2px solid #996633;
}

/*------------------------------------*/
/* Icon link styles                   */
/*------------------------------------*/

a.IconLink {
    color: #4A51B0;
}

a.IconLink img {
    width: 14pt;
    height: 14pt;
    vertical-align: text-bottom;
    padding-right: 2pt;
}

/*------------------------------------*/
/* Breadcrumbs                        */
/*------------------------------------*/

.breadcrumbs {
    font-family: monospace;
}

.breadcrumbs__crumb {
    color: gray;
    text-decoration: none;
}

.breadcrumbs__crumb:hover {
    text-decoration: underline;
}

/*========================================================*/
/* Built-In Widgets                                       */
/*========================================================*/

/*====================================*/
/* TableOfContentsHtml[..]            */
/*====================================*/

nav.TableOfContents {
    padding: 0em 1em;
    display: inline-block;
    background-color: #eee;
    border: 2px solid gray;
}

nav.TableOfContents a {
    color: cornflowerblue;
    text-decoration: unset;
}

nav.TableOfContents a:hover {
    text-decoration: underline
}

nav.TableOfContents ul {
    padding-inline-start: 20px;
}

/*====================================*/
/* PagesSummaryList[..]                */
/*====================================*/

nav.PagesSummaryList > ul {
    list-style-type: none;
    padding-left: 0;
}

nav.PagesSummaryList > ul > li {
    border-radius: 0.5em;
    border-left: 0.15em solid lightgray;
    border-right: 0.15em solid lightgray;

    padding: 0.25em 0.5em;
    margin: 1.5em 0;
}

nav.PagesSummaryList > ul > li h4 {
    margin: 0;
}

nav.PagesSummaryList > ul > li p {
    margin-bottom: 0;
}

nav.PagesSummaryList a {
    text-decoration: none;
    color: var(--nwt--h1-color)
}

nav.PagesSummaryList a:hover {
    text-decoration: underline;
}

h4.DocumentLink a {
    text-decoration: none;
    color: var(--nwt--h1-color)
}

h4.DocumentLink a:hover {
    text-decoration: underline;
}

/*====================================*/
/* LinkDashboard[..]                  */
/*====================================*/

div.link-group-container {
    column-count: 3;

    /* Make the link group dashboard expand to fill the full width of the
       viewport, overriding the default width restriction placed on notebook
       content (which is a good default for general text readability, but makes
       less sense of navigation / UI elements like a link dashboard.

       See also: https://stackoverflow.com/a/31391593 */
    width: calc(100vw - 50px);
    margin-left: calc(-50vw + 50% + 25px);

    /* display: flex; */
    /* flex-flow: column wrap; */
    /* align-content: flex-start; */
    /* gap: 5px 10px */
}

div.link-group-container > ul.link-group:first-child {
    margin: 0em
}

div.link-group-container > ul {
    border: 2px solid gray
}

ul.link-group {
    break-inside: avoid-column;
    list-style-type: none;
    margin: 1em;
    padding: 0 1em 0 1em;
    background: #f1f1f1;
}

ul.link-group > li > div.header {
    margin-left: -0.5em;
    font-weight: bold;
}
